.container{
    display: flex;
}

/* board shading */
.gameboard {
  background: #2a1f3d;   
  padding: 20px;
  border-radius: 10px;
  width: 90%;          
  max-width: 1200px;    
  margin: 0 auto;  
  min-height: 75vh;

  box-shadow: 
    rgba(17, 17, 26, 0.1) 0px 4px 16px, 
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.fontcolour {
    color: white;
}

.player-selection{
    display: flex;

}