#btn {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.line {
  width: 2px;
  height: 200px;
  background-color: black;
}
.timeline-item {
  display: flex;
  align-items: center;
}

.left,
.right {
  flex: 1;
}

.left {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.right {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.center {
  width: 20px;
  display: flex;
  justify-content: center;
}

#btn-outline {
  border: 1px solid #9ca3af;
  color: #374151;
  background-color: transparent;
}

#btn-outline:hover {
  background-color: #f3f4f6;
}

#btn-active {
  background-color: #1d4ed8;
  color: white;
}